body {
    font-family: Arial, sans-serif;
    background-color: #4caf50;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #2e8b57; /* Darker green for navigation */
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    display: none; /* Initially hide the sections */
    color: #333;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #555;
    text-align: center;
}

.application-form {
    max-width: 600px;
    margin: auto;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input, select, file {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Language selector styles */
.language-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
}

select {
    padding: 5px;
}

/* Home section styles */
#home {
    background-color: #2e8b57; /* Dark green for home */
    color: #fff;
    padding: 40px;
    text-align: center;
    display: block; /* Show the home section by default */
}
